# rename to .env.prod

SECRET_KEY=toomanysecrets
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1
SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=database
SQL_HOST=db
SQL_PORT=5432

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgrespw
POSTGRES_DB=djangodb_prod

DATABASE=postgres